services:
  app:
    build: .
    container_name: tochly_chat_service
    ports:
      - "8001:8001"
    depends_on:
      cassandra:
        condition: service_healthy
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - CONFIG_VALIDATION=strict
    networks:
      - tochly_redis_net

  cassandra:
    image: cassandra:4.1
    container_name: tochly_cassandra_server
    # ports:
    #   - "9042:9042"
    volumes:
      - cassandra-data:/var/lib/cassandra
      - ./schema.cql:/schema.cql:ro
    command: ["sh", "-c", "sleep 15 && cqlsh cassandra -f /schema.cql"]
    environment:
      - CASSANDRA_START_RPC=true
      - CASSANDRA_CLUSTER_NAME=TochlyCluster
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "describe keyspaces"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - tochly_redis_net

volumes:
  cassandra-data:

networks:
  tochly_redis_net:
    external: true